* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
}
main {
  padding: 30px;
  color: black;
}
.sidebar {
  background: rgb(24, 24, 85);
  color: white;
  height: 100vh;
}

